.container-inline-slate .form-item {
/*   float:left; */
}

.nodequeue-slate tr.active,
.fieldset .slate-form-item.active {
  background: #E4F0F8;
}

.nodequeue-slate tr.active-position {
  background: #fff2bc;
}

.nodequeue-slate tr.unset {
  background: #f3f3f3;
}